body{
    background-color: #fff;
}
.breadcrumb {
    width: 1200px;
    margin: auto;
}
.breadcrumb a{
    text-decoration:none;
    color: rgba(0, 0, 0, 0.65);;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
.title{
    width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
}
.titleword{
    margin: 0 20px;
    width: 50%;
}
.titleword h1{
    color: rgb(0, 190, 164);;
    margin: 20px 0;
} 
.titleimg{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}
.pagesbutton{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.buttong button{
    margin: 5px;
    background-color: #fff;
    border: 1px solid #bebebe;
}
.buttong button:hover{
    border: none;
    color: rgb(250, 139, 0);
}
.buttonpg button{
    margin: 5px;
    border: none;
    background-color: #fff;
}
.buttonpg button:hover{
    border: none;
    color: rgb(250, 139, 0);
}

