.myhead{
    width: 100%;
    margin: 5%;
}
.myhead h3{
    color: rgba(0, 0, 0, 0.65);
    text-align:center;
    font-size: 30px;   
}
.myheadimg{
    display: flex;
    justify-content: center;
}
.myheadimg img{
    width: 96px;
    height: 96px;
    border: 1px #d3d3d2 solid;
    border-radius: 50%;
}
.myclass{
    margin: 5%;
    box-sizing: border-box;
}
.myclass h4{
    padding: 0 20px;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
}
.myclass a{
    color: rgb(250, 139, 0);
}
.container{
    /* box-sizing: border-box; */
    margin: 3% 0;
}

.container a{
    color: white;
}